.productList{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 40px;
    padding: 30px;
}

.header{
    font-family: var(--font-avenir-book);
    font-size: 45px;
    font-weight: normal;
}