:root {
    --swiper-navigation-size: 26px !important;
    --swiper-theme-color: #000 !important;
    --swiper-navigation-top-offset: 115px;
    --border-color: #000;
    --yellow-gold: #e6ca97;
    --white-gold: #d9d9d9;
    --rose-gold: #e1a4a9;
}

body {
    position: relative;
    margin: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}
